*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    max-width: 90%;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
li .delete {
    cursor: pointer;
    color: #ff4d4f;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
li .delete:hover {
    background-color: #ffebee;
}
.swal2-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.swal2-popup {
    font-size: 1.2rem !important;
}

.swal2-actions {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
    font-size: 1rem !important;
    padding: 0.75em 2em !important;
}

.swal2-title {
    font-size: 1.5rem !important;
}
